body {
  font-family: Garamond;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #FAD5A5;
  color: #252019;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #A5FAAA;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #252019;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #FAA5F4;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: FAD545;
  padding: 10px;
}

.grid-item {
  color: black;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}