/* This is a single-line comment */

html {
  font-size: 1em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.5rem;
}

@media (min-width: 1200px;) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

body {
  background-color: #FAD5A5;
}